# role user
sudo: required

# OS yang digunakan, precies, trusty, xenial
dist: trusty

# bahasa yang digunakan
language: php

# Versi bahasa yang digunakan
php:
  - 7.2.4

before_script:
  - cp .env.travis .env
  - composer install --no-interaction
  - php artisan key:generate

script:
  - vendor/bin/phpunit